*{
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}

.menuaccordion{
	width: 100%;
	text-align: center;
	height:100%;
	float:center;
	align-content: center;
}

.menucollapse{
	width: 100%;
	text-align: center;
	height:100%;
	float:center;
	align-content: center;
	padding: 1% 5% 1% 5%;
}

.linktext{
	text-align: center;
	font-size: 24px;
	width:70%;
	height:70%;
	padding: 15% 15% 15% 15%;
	transition: all 0.5s;
}

.linktext:hover{
	width:80%;
	height:80%;
	font-size: 24px;
	padding: 10% 10% 10% 10%;
	cursor: pointer;
}

.wrapper{
	width: 100%;
	max-width: 100%;
	background-color: #363636;
	height: 100%;
}

.sidebar{
	float: left;
	background-color: #0E4749;
	box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
	padding-top: 10px;
}

.main{
	height: 100%;
	min-height: 1000px;
	background-color: #FFFFFF;
	margin-left: 0;
	transition: 0.5s;
}

.titlebar{
	height: 200px;
	background-color: #0E4749;
	text-align: center;
	overflow: hidden;
}

.sidebarItem{
	font-family: 'Kanit', sans-serif;
	color: white;
	font-weight: 600;
	font-size: auto;
	padding-top: 25px;
	letter-spacing: 1px;
	float: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width:80%;
	height: 50px;
	background-color: #0E4749;
}

.sidebarItem:hover, .sidebarItem:active {
	background-color: #185153;
}

.sidebarButton{
	float: left;
	padding-left: 20px;
	padding-top: 20px;
}

.playButton{
	font-family: 'Kanit', sans-serif;
	font-weight: 600;
	font-size: 24px;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}

.sidenav a {
    padding: 0px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav p {
    padding: 8px 8px 8px 24px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    padding: 0px; 
    margin-left: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.centralText{
	position:absolute;
	left:50vw;
	top:50vh;
	width: 500px;
	height: 200px;
	margin-top: -100px;
	margin-left: -250px;
	font-family: 'Quicksand', sans-serif;
}

.bubbleImage{
	border: 5px solid #007bff;
	transition: all .2s ease-in-out;
}

.bubbleImage:hover{
	transform: scale(1.1);
	z-index:1000;
}

.titleimage-1{
	position:absolute;
	left:75vw;
	top:40vh;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	z-index:50;
}
.titleimage-2{
	position:absolute;
	left:80vw;
	top:50vh;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	z-index:51;
}
.titleimage-3{
	position:absolute;
	left:20vw;
	top:20vh;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	z-index:51;
}
.titleimage-4{
	position:absolute;
	left:28vw;
	top:15vh;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	z-index:50;
}
.titleimage-5{
	position:absolute;
	left:60vw;
	top:18vh;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	z-index:50;
}
.titleimage-6{
	position:absolute;
	left:68vw;
	top:8vh;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	z-index:49;
}
.titleimage-7{
	position:absolute;
	left:44vw;
	top:70vh;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	z-index:49;
}
.titleimage-8{
	position:absolute;
	left:67vw;
	top:68vh;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	z-index:49;
}

@media only screen and (max-width: 800px) {
   	.bubbleImage{
   		display:none;
   	}
}